<h1>Listing equipes</h1>

<table>
  <tr>
    <th>Equipe</th>
  </tr>

<% @equipes.each do |equipe| %>
  <tr>
    <td><%=h equipe.equipe %></td>
    <td><%= link_to 'Show', equipe %></td>
    <td><%= link_to 'Edit', edit_equipe_path(equipe) %></td>
    <td><%= link_to 'Destroy', equipe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New equipe', new_equipe_path %>