<% title "Utilisateur - #{@user}" %>
<p>
  <b>Utilisateur:</b>
  <%=h @user.username %>
</p>

<p>
  <b>Nom:</b>
  <%=h @user.to_label %>
</p>

<p>
  <b>Equipe:</b>
  <%=link_to h(@user.equipe), @user.equipe %>
</p>

<p>
  <b>Promo:</b>
  <%=link_to h(@user.promotion), @user.promotion %>
</p>

<p>
  <b>Autorisations</b>
  <%= @user.role %>
</p>